# For postgres database
database.host=apex-db.cjuga4soy3gq.us-west-2.rds.amazonaws.com
database.port=5432
database.user=postgres
database.name=apex
database.password=DBPASS


# Standard Kafka configurations
topic=retail_scans
bootstrap.servers=pkc-rgm37.us-west-2.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='CLUSTER_API_KEY' password='CLUSTER_API_SECRET';

# Confluent Schema Registry (if used)
schema.registry.url=https://psrc-zj6ny.us-east-2.aws.confluent.cloud

webui.socket.uri=ws://localhost:8080
